{% extends 'basefront.html.twig' %}

{% block body %}
    {% block signup %}
        <a class="getstarted scrollto" href="{{ path('app_user_fnew') }}">S'inscrire</a>
    {% endblock %}

    {% block login %}
        <a class="getstarted scrollto" href="{{ path('app_login') }}">Se connecter</a>
    {% endblock %}
{% endblock %}
